/* The container must be positioned relative: */
.custom-select {
  position: relative;
  width:200px;
}

.custom-select select {
  display: none; /*hide original SELECT element: */
}

.select-selected {
  background-color: var(--color-bg-sec);
  border-radius: 0.35rem;
  box-shadow: 0 0px 6px -1px rgba(0, 0, 0, 0.5);
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 21px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: var(--color-text) transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent var(--color-text) transparent;
  top: 14px;
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
  color: var(--color-text);
  padding: 18px 16px;
  cursor: pointer;
  height: 52.4px;
}

/* Style items (options): */
.select-items {
  margin-top: 0.3rem;
  position: absolute;
  background-color: var(--color-bg-sec);
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  box-shadow: 0 0px 6px -1px rgba(0, 0, 0, 0.5);
  border-radius: 0.35rem;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 0.35rem;
}

@media (max-width: 600px) {

    .filter-content {
        flex-direction: column;
        align-items: flex-start;
    }
    
    .grid {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    
    .form-search {
        margin-bottom: 1rem;
        width: 100%;
    }

    .form-search i{
          width: 1%;
      }


    .form-search input{
        width: 80%;
    }

}