html{
    box-sizing: border-box;
}
*,::before,::after{
    box-sizing: inherit;
}

body{
    --color-bg: #FAFAFA;
    --color-bg-sec: #FFFFFF;
    --color-text: #000;

    font-family: 'Nunito Sans', sans-serif;
    color: var(--color-text);
    background-color: var(--color-bg);

  
}

body.dark-mode{
    --color-bg: #212e37;
    --color-bg-sec: #2b3743;
    --color-text: #fff;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.img-fluid{
    width: 100%;
}

header{
    background-color: var(--color-bg-sec);
    box-shadow: 0 0px 6px -1px rgba(0, 0, 0, 0.5);
    font-size: 1rem;

}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-theme{
    background-color: transparent;
    color: var(--color-text);
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    opacity: 1;
    font-size: 0.9rem;
}

.btn-theme:hover{
    opacity: 0.7;
}

/*Filtros*/

.filter-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    
}

.form-search{
    box-shadow: 0 0px 6px -1px rgba(0, 0, 0, 0.5);
    background-color: var(--color-bg-sec);
    padding: 1rem;
    border-radius: 0.35rem;
}

.form-search i{
    opacity:0.7;
    margin-right: 1rem;
}

.form-search input{
    border: none;
    outline: none;
    background: transparent;
    color: var(--color-text);
}

.filter-content select{
    background-color: var(--color-bg-sec);
    color: var(--color-text);
}

.btn-back {
    text-decoration: none;
    background-color: var(--color-bg-sec);
    color: var(--color-text);
    border: none;
    cursor: pointer; 
    outline: none;
    box-shadow: 0 0px 6px -1px rgba(0, 0, 0, 0.5);
    padding: 1rem 2rem;
    border-radius: 0.375rem;
}

.btn-back i{
    margin-right: 0.4rem;
}

.btn-back:hover {
    opacity: 0.8;
}

/*Main*/

.grid{
    display: grid;
    grid-template-columns: repeat(4, minmax(0,1fr));
    gap: 3rem;
}

.card{
    background-color: var(--color-bg-sec);
    border-radius: 0.35rem;
    box-shadow: 0 0px 6px -1px rgba(0, 0, 0, 0.5);
    
}

.card a{
    color: var(--color-text);
}

.card img{
    border-top-left-radius: 0.35rem;
    border-top-right-radius: 0.35rem;
}

.card-body{
    padding: 1rem;
}

.card-body h3{
    margin-bottom: 1.5rem;
}

.details{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap:wrap;
    align-items: center;
    width: 100%;
    margin: 5rem 0;
}

.img-details{
    width: 40%;
}

.details-content{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap:wrap;
}

.details-content h3{
    font-size: 1.5rem;
    margin: 0;
    margin-bottom: 2rem;
    width: 100%;
}

.details-content .col{
    margin: 0;
    width: 50%;
    padding: 0.2rem;
}

@media (max-width: 1000px){
    .grid{
        grid-template-columns: repeat(3, minmax(0,1fr));
    }
}

@media (max-width: 750px){
    .grid{
        grid-template-columns: repeat(2, minmax(0,1fr));
    }

    .img-details{
        width: 100%;
    }
    
    .details-content{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: row;
        flex-wrap:wrap;
    }
    
    .details-content h3{
        font-size: 1.5rem;
        margin: 0;
        margin-top: 2rem;
        margin-bottom: 2rem;
        width: 100%;
    }
    
    .details-content .col{
        margin: 0;
        width: 100%;
        padding: 0.2rem;
    }
}

@media (max-width: 600px){

    header{
        font-size: 0.5rem;
    }

    .filter-content{
        flex-direction: column;
        align-items: flex-start;
    }
    

    .grid{
        grid-template-columns: repeat(1, minmax(0,1fr));
    }
}